@model IList<Proprietario>

<mensagem msg="@TempData["msg"]"></mensagem>

<h1>Listar</h1>

<a asp-controller="Proprietario" asp-action="Cadastrar" class="btn btn-info">Cadastrar</a>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Nome</th>
            <th>É deficiente</th>
           
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Nome</td>
                <td>@(v.Deficiente?"Sim":"Não")</td>
                <td>
                    <a asp-action="editar" asp-route-id="@v.Codigo">Editar</a>
                    <button type="button" onclick="idCod.value = @v.Codigo" class="btn btn-outline-danger btn-primary" data-toggle="modal" data-target="#modalExemplo">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </table>

    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação de exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="Excluir">
                    <div class="modal-body">
                        <h4>Deseja mesmo excluir o Proprietario ?</h4>

                        <input type="hidden" id="idCod" name="id" />



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Excluir veiculo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
